**/*.gif
**/*.png

.git
static

!static/plugins/fontawesome-free

!static/plugins/jquery/jquery.min.*
!static/plugins/bootstrap/js/bootstrap.bundle.min.*
!static/plugins/chart.js/Chart.min.*
!static/plugins/select2/js/select2.full.min.*
!static/dist/js/adminlte.min.*
!static/plugins/sweetalert2/sweetalert2.min.*
!static/plugins/datatables/jquery.dataTables.min.*
!static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.*


!static/plugins/fontawesome-free/css/all.min.*
!static/dist/css/adminlte.min.*
!static/plugins/select2/css/select2.min.*
!static/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.*
!static/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.*
!static/plugins/datatables-bs4/css/dataTables.bootstrap4.min.*

!static/images/np-admin-test1.png
