{% extends "navbase.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for("static", filename="plugins/datatables-bs4/css/dataTables.bootstrap4.css") }}">
{% endblock %}
{% block content %}
{{ super() }}
<!-- jQuery -->
<script src="{{ url_for("static", filename="plugins/jquery/jquery.min.js") }}"></script>
<script src="{{ url_for("static", filename="plugins/datatables/jquery.dataTables.js") }}"></script>
<script src="{{ url_for("static", filename="plugins/datatables-bs4/js/dataTables.bootstrap4.js") }}"></script>

<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">loaded containers</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
          <div class="row">
            <div class="col-sm-12">
              <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                aria-describedby="example1_info">
                <thead>
                  <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                      aria-sort="ascending" aria-label=""
                      style="width: 283px;">container hostname</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                      aria-label="" style="width: 150px;">container type</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                      aria-label="" style="width: 150px;">successful task count</th>
                    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                      aria-label="" style="width: 150px;">failed task count</th>
                  </tr>
                </thead>
                <tbody>
                {% for container in data %}
                  <tr role="row" class="odd">
                    <td class="sorting_1">{{container}}</td>
                    <td class="sorting_1">{{data[container]["container_type"]}}</td>
                    <td>{{data[container]["successful_job_count"]}}</td>
                    <td>{{data[container]["failed_job_count"]}}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
</section>



<script>
    $("#example1").DataTable({
      "responsive": true,
      "autoWidth": false,
    });
</script>

{% endblock %}