{% extends "navbase.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for("static", filename="plugins/select2/css/select2.min.css") }}">
<link rel="stylesheet"
    href="{{ url_for("static", filename="plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css") }}">
{% endblock %}
{% block content %}
{{ super() }}
<!-- jQuery -->
<script src="{{ url_for("static", filename="plugins/jquery/jquery.min.js") }}"></script>
<section class="content">
    <div class="container-fluid">

        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title">taskatron</h3>
                <input type="hidden" id="hidden_cfg_type" value="task" />
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                            class="fas fa-minus"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <!-- /.col -->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>which task id</label>
                            <input type="text" id="taskid" class="form-control" placeholder="Enter task id eg.3da29478-b9a4-4a93-8dd1-cd6018e3addd ">
                        </div>

                        <!-- /.form-group -->
                        <div class="form-group">
                            <button id="execute" type="button" class="btn btn-block btn-default">retrieve
                            </button>
                        </div>

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer">
                Visit <a href="https://github.com/tbotnz/netpalm">netpalm documentation</a> for more examples and
                information.
            </div>
        </div>
        <!-- /.card -->

        <!-- RESULT TABLE -->
        <div id="jobtable" class="card card-default">
            <div class="card-header">
                <h3 class="card-title">running jobs</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                            class="fas fa-minus"></i></button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="row">
                    <!-- /.col -->
                    <div class="col-md-12">

                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>task id </th>
                                    <th>host</th>
                                    <th>status</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>

                        <!-- /.form-group -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<script>
    $('#jobtable').hide();
    $("#execute").click(function () {
        var task_id = $('#taskid').val();
        var method = $('#hidden_cfg_type').val();
        var devices = {};

        var xhr;
        $.ajax({
            type: "GET",
            url: "/task/"+task_id,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: "",
            success: function (response) {
                console.log(response);
                devices[task_id] = response["data"]["task_id"];
                $('.table > tbody:last-child').append('<tr><td id=y' + response["data"]["task_id"] + '>' + response["data"]["task_id"] + '</td><td>' + task_id + '</td><td id=' + response["data"]["task_id"] + '><label class="badge badge-danger">Running</label></td></tr>');
                $('#jobtable').delay(100).fadeIn(500);
                var polling = true;
                (function long_poll() {
                    if(polling){
                        var xhr = $.ajax({
                            url: "/task/" + response["data"]["task_id"],
                            type: "GET",
                            async: true,
                            success: function (data) {

                                if (data["data"]["task_status"] === "finished") {
                                    if ($('#' + data["data"]["task_id"]).text() !== "Complete") {
                                        $('#' + data["data"]["task_id"]).html('<label class="badge badge-success">Complete</label>');

                                        // determine key
                                        var result_data = null;
                                        for (var key in data["data"]["task_result"]){
                                            result_data = data["data"]["task_result"][key].toString();
                                        }
                                        if (data["data"]["task_result"]["changes"]){
                                            result_data = data["data"]["task_result"]["changes"].toString();
                                        }
                                        result_data = result_data.replaceAll(',','\n');
                                        var config = '<div class="card card-default">' +
                                                '<div id id ="e' + response["data"]["task_id"] + '">' +
                                                    '<div class="card-header">' +
                                                        '<h3 class="card-title">' + task_id + '</h3>' +
                                                        '<div class="card-tools">' +
                                                            '<button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>' +
                                                        '</div>' +
                                                    '</div>' +
                                                    '<div class="card-body">' +
                                                        '<div class="row">' +
                                                            '<div class="col-md-12">' +
                                                                '<em>'+data["data"]["task_id"]+'</em>' +
                                                                '<pre id="e' + data["data"]["task_id"] + '">' +
                                                                    result_data +
                                                                '</pre>' +
                                                                '<div class="mt-3">' +
                                                                    '<button type="button" class="btn btn-info btn-clipboard" id="f' + data["data"]["task_id"] + '" onclick="copyTask(this.id)">Copy</button>' +
                                                                '</div>' +
                                                            '</div>' +
                                                        '</div>' +
                                                    '</div>' +
                                                '</div>';
                                            '</div>';
                                        '</div>';
                                        $('.container-fluid').append(config).delay(100).fadeIn(500);
                                        $('#y' + data["data"]["task_id"]).html('<a href="#e' + response["data"]["task_id"] + '">' + response["data"]["task_id"] + '</a>').delay(100).fadeIn(500);
                                        polling = false;
                                    }
                                }
                            },
                            dataType: "json",
                            complete: setTimeout(function () { long_poll() }, 2000),
                            timeout: 2000
                        })
                    }
                })();
            }
        });
    });
</script>
<script> 
    function copyTask(taskid) {
        var realtask = taskid.substring(1);
        var newtask ="#e"+realtask;
        var datas = $(newtask).text();
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(datas).select();
        document.execCommand("copy");
        $temp.remove();
        }
    </script>

{% endblock %}