{% extends "navbase.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for("static", filename="plugins/datatables-bs4/css/dataTables.bootstrap4.min.css") }}">
<link rel="stylesheet" href="{{ url_for("static", filename="plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css") }}">
<!--<meta http-equiv="refresh" content="10" />-->
{% endblock %}
{% block content %}
{{ super() }}
<!-- jQuery -->
<script src="{{ url_for("static", filename="plugins/jquery/jquery.min.js") }}"></script>
<script src="{{ url_for("static", filename="plugins/datatables/jquery.dataTables.min.js") }}"></script>
<script src="{{ url_for("static", filename="plugins/datatables-bs4/js/dataTables.bootstrap4.min.js") }}"></script>
<script src="{{ url_for("static", filename="plugins/sweetalert2/sweetalert2.min.js") }}"></script>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{heading}}</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                                aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1" aria-sort="ascending" aria-label="" style="width: 283px;">
                                            Template</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1" aria-label="" style="width: 50px;">Options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for template in data["data"]["task_result"]["templates"] %}
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">{{template}}</td>
                                        <td align="center">
                                            {% if "service" in heading %}
                                            <button type="button" class="btn btn-danger btn-sm delete">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                            {% else %}
                                            <button type="button" class="btn btn-info btn-sm view">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm delete">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer clearfix">
                {% if 'j2' in heading or 'fsm' in heading or 'ttp' in heading%}
                <a href="{{ url_for('template_editor', template_type=heading) }}"
                    class="btn btn-sm btn-info float-left">Add</a>
                {% else %}
                    {% if "webhook" in heading %}
                    {% set httproute = "webhook" %}
                    <a href="{{ url_for('script_editor', script_type="webhook") }}"
                        class="btn btn-sm btn-info float-left">Add Script</a>
                    {% elif "script" in heading %}
                    {% set httproute = "script" %}
                    <a href="{{ url_for('script_editor', script_type="script") }}"
                        class="btn btn-sm btn-info float-left">Add Script</a>
                    {% endif %}
                <!--<a href="javascript:void(0)" class="btn btn-sm btn-info float-left">add script</a>-->
                {% endif %}
                <script>
                    $(".delete").click(function () {
                        var scrpname = $('td:first', $(this).parents('tr')).text();
                        var jsondata = {
                            "name": scrpname,
                            "base64_payload": "derp"
                        };
                        var jdata = JSON.stringify(jsondata);
                        $.ajax({
                            type: "POST",
                            url: "/{{heading}}/remove",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: jdata,
                            success: function (response) {
                                $(function () {
                                    var Toast = Swal.mixin({
                                        toast: true,
                                        position: 'top-end',
                                        showConfirmButton: false,
                                        timer: 3000
                                    });
                                Toast.fire({
                                    icon: 'warning',
                                    title: 'removed ' + scrpname
                                });
                            });
                            }
                        });
                        $(this).parents('tr').remove();
                    });
                </script>
                <script>
                    $(".view").click(function () {
                        var scrpname = $('td:first', $(this).parents('tr')).text();
                        var get_url = "/{{heading}}/"+scrpname;
                        window.location = get_url;
                    });
                </script>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>

{% if "TTP" in heading %}
<script>
    $('#nav_parsing').addClass('menu-open');
</script>
{% elif "config templates" in heading or "service templates" in heading or "webhook templates" in heading%}
<script>
    $('#nav_rendering').addClass('menu-open');
</script>
{% elif "webhooks" in heading or "scripts" in heading %}
<script>
    $('#nav_scripts').addClass('menu-open');
</script>
{% endif %}

<script>
    $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
    });
</script>

{% endblock %}
