{% extends "navbase.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for("static", filename="plugins/datatables-bs4/css/dataTables.bootstrap4.css") }}">
<link rel="stylesheet" href="{{ url_for("static", filename="plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css") }}">
<!--<meta http-equiv="refresh" content="10" />-->
{% endblock %}
{% block content %}
{{ super() }}
<!-- jQuery -->
<script src="{{ url_for("static", filename="plugins/jquery/jquery.min.js") }}"></script>
<script src="{{ url_for("static", filename="plugins/datatables/jquery.dataTables.js") }}"></script>
<script src="{{ url_for("static", filename="plugins/datatables-bs4/js/dataTables.bootstrap4.js") }}"></script>
<script src="{{ url_for("static", filename="plugins/sweetalert2/sweetalert2.min.js") }}"></script>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{heading}}</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                                aria-describedby="example1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1" aria-sort="ascending" aria-label="" style="width: 283px;">
                                            template</th>
                                        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                            colspan="1" aria-label="" style="width: 150px;">options</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for template in data["data"]["task_result"]["templates"] %}
                                    <tr role="row" class="odd">
                                        <td class="sorting_1">{{template}}</td>
                                        <td><button type="button" class="btn btn-danger btn-sm delete">delete</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer clearfix">
                {% if "template" in heading and "webhook" in heading %}
                {% set httproute = "webhookj2" %}
                <a href="{{ url_for('template_editor', template_type="textfsm") }}"
                    class="btn btn-sm btn-info float-left">add template</a>
                {% elif "template" in heading and "config" in heading %}
                {% set httproute = "configj2" %}
                <a href="{{ url_for('template_editor', template_type="textfsm") }}"
                    class="btn btn-sm btn-info float-left">add template</a>
                {% elif "template" in heading and "service" in heading %}
                {% set httproute = "servicej2" %}
                <a href="{{ url_for('template_editor', template_type="textfsm") }}"
                    class="btn btn-sm btn-info float-left">add template</a>
                {% elif "template" in heading and "TTP" in heading %}
                {% set httproute = "ttp" %}
                <a href="{{ url_for('template_editor', template_type="textfsm") }}"
                    class="btn btn-sm btn-info float-left">add template</a>
                {% else %}
                    {% if "webhook" in heading %}
                    {% set httproute = "webhook" %}
                    <a href="{{ url_for('script_editor', script_type="webhook") }}"
                        class="btn btn-sm btn-info float-left">add script</a>
                    {% elif "script" in heading %}
                    {% set httproute = "script" %}
                    <a href="{{ url_for('script_editor', script_type="script") }}"
                        class="btn btn-sm btn-info float-left">add script</a>
                    {% endif %}
                <!--<a href="javascript:void(0)" class="btn btn-sm btn-info float-left">add script</a>-->
                {% endif %}
                <script>
                    $(".delete").click(function () {
                        var scrpname = $('td:first', $(this).parents('tr')).text();
                        var jsondata = {
                            "name": scrpname,
                            "base64_payload": "derp"
                        };
                        var jdata = JSON.stringify(jsondata);
                        $.ajax({
                            type: "POST",
                            url: "/{{httproute}}/remove",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data: jdata,
                            success: function (response) {
                                Toast.fire({
                                    icon: 'danger',
                                    title: 'removed ' + $("#template_name").val()
                                });
                            }
                        });
                        $(this).parents('tr').remove();
                    });
                </script>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>

{% if "TTP" in heading %}
<script>
    $('#nav_parsing').addClass('menu-open');
</script>
{% elif "config templates" in heading or "service templates" in heading or "webhook templates" in heading%}
<script>
    $('#nav_rendering').addClass('menu-open');
</script>
{% elif "webhooks" in heading or "scripts" in heading %}
<script>
    $('#nav_scripts').addClass('menu-open');
</script>
{% endif %}

<script>
    $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
    });
</script>

{% endblock %}